.menu{
    padding-top: 30px;
    text-align: left;
}
.menu .logo{
    max-width: 100px;
    padding-bottom: 30px;
}
.menu ul li{
    list-style-type: none;
    font-size: 13px;
    font-weight: 400;
}
.menu ul li a{
    text-decoration: none;
    color: #000000;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.1em;
}
.menu_item a{
    font-weight: normal !important;
    text-transform: none !important;
    font-size: initial !important;
}
body > div.container > div > div.three.columns > li > a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 13px;
}
.menu hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: #000000;
    max-width: 100px;
}
.menu_superior ul{
    padding:0px;
    margin:0px;
    list-style:none;
    text-align: center;
}
.menu_superior ul li {
    display: inline;
    font-size: 14px;
    margin-right: 40px;
}
#mine-badge{
    display:none !important;
}
.footer_linha hr{
    margin-top: 0;
    border-color:#000000;
    width: 960px;
}
.footer_form{
    text-align: center;
}
.footer_form span{
    padding-right: 10px;
    font-size: 13px;
}
.footer_form input[type="text"]{
    border-radius: 0;
    border-color: #000000;
    margin-right: 10px;
}
.footer_form input[type="text"]:focus{
    border-color: #666666;
}
.footer_form input[type="submit"]{
    border-radius: 0;
    background-color: #000000;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
}
.footer_form input[type="submit"]:hover{
    color: #999999;
}
.footer_scroll{
    display: block;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    bottom: 0px;
    background: #fff;
}
.footer_scroll form{
    margin-bottom: 0;
}
.footer_credit{
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
    .menu{
        text-align: center;
    }
    .menu hr{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin: 0 auto;
        border-color: #000000;
        max-width: 100px;
    }
    .menu_superior ul li a{
        font-size:1em !important;
    }
    .menu_superior ul{
        margin-top:40px !important;
    }
    .menu_superior ul li {
        margin-right: auto !important;
    }
    .footer_scroll{
      display: none;
    }
}
