.menu{
    padding-top: 30px;
    text-align: left;
}
.menu .logo{
    max-width: 100px;
    padding-bottom: 30px;
}
.menu ul li{
    list-style-type: none;
    font-size: 13px;
    font-weight: 400;
}
.menu ul li a{
    text-decoration: none;
    color: #000000;
}
.menu hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: #000000;    
    max-width: 100px;
}
.menu_superior ul{
    padding:0px;
    margin:0px;
    list-style:none;    
    text-align: center;
}
.menu_superior ul li { 
    display: inline;
    font-size: 14px;
    margin-right: 40px;    
}
.inicio_fotos{
    padding-top: 50px;
    padding-bottom: 10px;
}
.inicio_fotos2 .six{
    overflow: hidden;
}
.inicio_fotos .six{
    overflow: hidden;
}
.camiseta_inicio{
    display: block;
    margin: 0 auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.camiseta_inicio:hover{
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.footer_linha hr{
    margin-top: 0;
    border-color:#000000;
    width: 960px;
}
.footer_form{
    float: left;
}
.footer_form span{
    padding-right: 10px;
    font-size: 13px;
}
.footer_form input[type="email"]{
    border-radius: 0;
    border-color: #000000;
    margin-right: 10px;    
}
.footer_form input[type="email"]:focus{
    border-color: #666666;
}    
.footer_form input[type="submit"]{
    border-radius: 0;
    background-color: #000000;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
}
.footer_form input[type="submit"]:hover{
    color: #999999;
}
.footer_scroll{
    display: block;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    bottom: 0px;
    background: #fff;
}